# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Django Database & Media
*.sqlite3
db.sqlite3
media/

# Environment Variables & Secrets
.env
.env.*

# OS / Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/